---
---

@import "color";

body {
  font-family: sans-serif;
  background-color: $primary-color;
}

section {
  background-color: white;
}

.text-primary {
  color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  border-color: $dark-color;
  background-color: $dark-color;
}

a {
  color: $primary-color;
}

a:hover,
a:focus:hover {
  color: $primary-color;
}

code {
  color: #333;
}

hr {
  border-color: $primary-color;
}

header {
  background-image: none;
  background-color: $primary-color;

  a {
    color: white;
  }

  a:hover {
    color: white;
  }

  h1 img {
    width: 256px;
    height: 256px;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 0;
  }

  h3 {
    font-size: 30px;
    margin-top: 0;
  }

  hr {
    border-color: white;
  }

  .header-content .header-content-inner p {
    color: $weak-color;
  }

  .btn-primary {
    background-color: white;
    border-color: white;
    color: $primary-color;
  }
}

.navbar-fixed-top .navbar-collapse {
    max-height: 352px;
}

.navbar-default {
  .navbar-header .navbar-brand {
    text-transform: none;
  }

  &.affix {
    .navbar-header {
      .navbar-brand {
        text-transform: none;
        color: $primary-color;
      }

      .navbar-brand:hover,
      .navbar-brand:focus {
        color: $dark-color;
      }
    }

    .nav > li > a:hover,
    .nav > li > a:focus:hover {
      color: $primary-color;
    }

    .nav > li > a:hover,
    .nav > li > a:focus:hover {
      color: $primary-color;
    }
  }

  .nav > li > a:hover,
  .nav > li > a:focus:hover,
  .nav > li.active > a,
  .nav > li.active > a:focus {
    color: $primary-color !important;
  }

  .nav {
      &> li.dropdown > .dropdown-menu {
          box-shadow: none;
          border-radius: 0;
          border-color: rgba(34, 34, 34, 0.05);

          &> li > a {
              font-weight: 700;

              &:hover {
                  color: $primary-color;
              }
          }

          &> li.current > a {
              color: $primary-color;
          }
      }
      &> li.non-dropdown.current > a {
          color: $primary-color;
      }
  }
}

@media (max-width: 767px) {
  .navbar-default {
      .navbar-header .navbar-brand {
        color: $primary-color;
      }
      .nav > li.dropdown {
          display: none;
      }
  }
}

@media (min-width: 768px) {
    .navbar-default {
        &.affix-top .nav.navbar-nav {
            > li {
                > a:hover,
                > a:focus:hover {
                    color: white !important;
                }
            }
            > li.dropdown.open > a.dropdown-toggle {
                color: $primary-color !important;
                background-color: white;
            }
        }
        .nav > li.dropdown {
            display: visible;
        }
        .nav > li.non-dropdown {
            display: none;
        }
    }
}

.bg-colored {
  background-color: $primary-color;
  color: white;
  a {
    color: white;
  }

  a:hover,
  a:focus:hover {
    color: white;
  }

  hr {
    border-color: white;
  }

  .text-primary {
    color: white;
  }

  .text-muted {
    color: $weak-color;
  }

  .btn-primary {
    background-color: white;
    border-color: white;
    color: $primary-color;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    color: white;
    border-color: $dark-color;
    background-color: $dark-color;
  }

  code {
    color: white;
    background: none;
  }

  .feature-box p {
    color: $weak-color;

    a {
      color: $weak-color;
    }

    a:hover,
    a:focus:hover {
      color: white;
    }

    code {
      color: $weak-color;
    }
  }
}

.bg-dark {
  background-color: $dark-color;
  color: white;

  a {
    color: $dark-link-color;
  }

  h3 a,
  h5 a {
    color: white;
  }

  table {
    color: white;
  }

  code {
    background-color: $dark-code-bg-color;
    color: white;
  }

  hr {
    border-color: white;
  }

  .text-primary {
    color: white;
  }

  .text-muted {
    color: white;
  }
}

img{
  &.portrait {
    width: 128px;
    border-radius: 64px;
    background-color: white;
  }

  &.sponsor {
    width: 256px;
  }
}

.table>tbody>tr{
  &>th {
    vertical-align: middle;
  }

  &>td {
    text-align: left;
  }
}

.panel-default .panel-heading {
  color: white;
  background-color: transparent;
  font-size: x-large;
}
