---
layout: common
css:
  - talks
---
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">Swift Tweets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">{{ site.data.tweetups[site.data.tweetupIds.first].shortTitle }}</a>
                </li>
                <li class="current">
                    <a href="talks.html">トーク一覧</a>
                </li>
                <li>
                    <a href="/#entry">参加方法</a>
                </li>
                <li>
                    <a href="/#contact">連絡先</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="tweeters">
    <div class="container">
        <div class="row">
            {% for tweeter in site.data.tweeters %}
            <div class="col-lg-6 col-sm-12 text-center">
                <div class="tweeter">
                    <img class="portrait" src="{% if tweeter.icon %}{{ tweeter.icon }}{% else %}img/dark.png{% endif %}" alt="@{{ tweeter.id }}" />
                    <h3><a href="https://twitter.com/{{ tweeter.id }}">@{{ tweeter.id }}</a></h3>
                    {{ tweeter.profile | markdownify }}
                    <hr class="primary">
                    <ul class="list-group">
                    {% for tweetupId in site.data.tweetupIds %}
                    {% assign tweetup = site.data.tweetups[tweetupId] %}
                    {% for talk in tweetup.schedule %}
                    {% unless talk.description %}{% continue %}{% endunless %}
                    {% if talk.tweeterId == tweeter.id %}
                        <li class="list-group-item">
                            {% assign talkTitle = talk.title | escape %}
                            {% assign talkDescription = talk.description | markdownify | strip_newlines | join: '' | escape %}
                            <h4>{{ talk.title }}</h4>
                            <p>
                                <a data-toggle="popover" data-placement="top" title="{{ talkTitle }}" data-content="{{ talkDescription }}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                {%if talk.url %}<a href="{{ talk.url }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>{% endif %}
                                {%if talk.tweetsUrl %}<a href="{{ talk.tweetsUrl }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>{% endif %}
                            </p>
                            <p class="text-muted"><a href="{% if tweetupId == site.data.tweetupIds.first %}/{% else %}{{ tweetupId }}{% endif %}">{{ tweetup.shortTitle }}</a></p>
                        </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
