---
layout: common
css:
  - tweetup
---
{% assign tweetup=site.data.tweetups[page.tweetupId] %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ tweetup.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#features">特徴</a>
                </li>
                <li>
                    <a class="page-scroll" href="#tweeters">発表者</a>
                </li>
                <li>
                    <a class="page-scroll" href="#timetable">タイムテーブル</a>
                </li>
                <li>
                    <a class="page-scroll" href="#entry">参加方法</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sponsors">スポンサー</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">連絡先</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">履歴 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for tweetupId in site.data.tweetupIds %}
                        <li{% if tweetupId == page.tweetupId %} class="current"{% endif %}><a href="{% if forloop.first == true %}/{% else %}{{ tweetupId }}{% endif %}">{{ site.data.tweetups[tweetupId].shortTitle }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="non-dropdown"><hr /></li>
                {% for tweetupId in site.data.tweetupIds %}
                <li class="non-dropdown{% if tweetupId == page.tweetupId %} current{% endif %}"><a href="{% if forloop.first == true %}/{% else %}{{ tweetupId }}{% endif %}">{{ site.data.tweetups[tweetupId].shortTitle }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading"><img src="img/swift.png" alt="Swift Logo" /></h1>
            <hr>
            <h2><a href="https://twitter.com/hashtag/{{ tweetup.hashtag }}?f=tweets">#{{ tweetup.hashtag }}</a></h2>
            <h3>{{ tweetup.date }} {{ tweetup.time }} {{ tweetup.timezone }}</h3>
            <p><strong>Swift Tweets</strong> は Twitter 上で開催される Swift に関する <strike>Meetup</strike> Tweetup です。発表者が Swift についてツイートで発表します。</p>
            <a href="#features" class="btn btn-primary btn-xl page-scroll">詳細を見る</a>
        </div>
    </div>
</header>

<section id="features">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">特徴</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="feature-box">
                  <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                  <h3>どこでも参加できる</h3>
                  <p class="text-muted">Twitter にアクセスするだけで参加できます。</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="feature-box">
                  <i class="fa fa-4x fa-comment text-primary sr-icons"></i>
                  <h3>質問しやすい</h3>
                  <p class="text-muted">順番を待たずに、 Twitter で気軽に質問できます。</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="feature-box">
                  <i class="fa fa-4x fa-retweet text-primary sr-icons"></i>
                  <h3>直接ツイートできる</h3>
                  <p class="text-muted">発表内容に直接リプライ・リツイートできます。</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="feature-box">
                  <i class="fa fa-4x fa-hourglass text-primary sr-icons"></i>
                  <h3>理解しやすい</h3>
                  <p class="text-muted">発表中に内容を見返し、自分のペースで理解できます。</p>
              </div>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3><span class="text-primary">Q.</span> ブログを読むのと何が違うの？どうして Twitter なの？</h3>
          <p class="text-muted">発表者・参加者が同じ時間に集まっていることで、質問や議論をリアルタイムに進めることができます。 Twitter とはいえ、普段面識のない人には話しかけるのは遠慮してしまいがちですが、同じ Swift Tweets の参加者なら相手もそのために時間を割いていることがわかるので、懇親会で話すかのように気軽に話しかけることができます。</p>
        </div>
      </div>
    </div>
</section>

<section id="tweeters" class="bg-colored">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">発表者</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
        {% for tweeter in tweetup.tweeters %}
        <div class="col-lg-6 col-sm-12 text-center">
          <div class="feature-box">
            <img class="portrait" src="{% if tweeter.icon %}{{ tweeter.icon }}{% else %}img/dark.png{% endif %}" alt="@{{ tweeter.id }}" />
            <h3><a href="https://twitter.com/{{ tweeter.id }}">@{{ tweeter.id }}</a></h3>
            {{ tweeter.profile | markdownify }}
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
</section>

<section id="timetable" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">タイムテーブル</h2>
                <hr class="primary">
                <div class="panel panel-default bg-dark">
                  <div class="panel-heading bg-dark">{{ tweetup.date }} ({{ tweetup.dayOfWeek }})</div>
                  <table class="table">
                    <tbody>
                      {% for talk in tweetup.schedule %}
                      <tr>
                        <th>{{ talk.time }}</th>
                        <td>
                          <h4>{% if talk.name %}{{ talk.name }}{% else %}{%if talk.url %}<a href="{{talk.url}}">{% endif %}"{{ talk.title }}"{%if talk.url %}</a>{% endif %}{% endif %}</h4>
                          {% if talk.tweeterId %}<h5><a href="https://twitter.com/{{ talk.tweeterId }}">@{{ talk.tweeterId }}</a></h5>{% endif %}
                          {% if talk.description %}<p>{{ talk.description | markdownify }}</p>{% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="entry" {% if tweetup.sponsors.size > 0 %}class="bg-colored"{% else %}{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">参加方法</h2>
                <hr class="primary">
                <p>下記ボタンから connpass で参加登録をお願い致します。 Twitter アカウントを使って登録可能です。当日は Twitter で <a href="https://twitter.com/hashtag/{{ tweetup.hashtag }}?f=tweets">#{{ tweetup.hashtag }}</a> のハッシュタグを御覧下さい。</p>
                <p>リプライやメンションするときもできるだけ <a href="https://twitter.com/hashtag/{{ tweetup.hashtag }}?f=tweets">#{{ tweetup.hashtag }}</a> のハッシュタグをつけて下さい。 Swift Tweets の目的の一つとして、オフラインの懇親会のように気軽に交流できる場をオンラインでも作りたいということがあります。開催中は面識のない他の参加者からリプライやメンションされることをご了承下さい。参加者一覧については<a href="{{ tweetup.entryLink }}participation/#participants">こちら</a>を御覧下さい。</p>
                <a href="{{ tweetup.entryLink }}" class="btn btn-primary btn-xl">参加する</a>
            </div>
        </div>
    </div>
</section>

{% if tweetup.sponsors.size > 0 %}
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">スポンサー</h2>
                <hr class="primary">
                {% for sponsor in tweetup.sponsors %}
                <div class="text-center">
                  <a href="{{ sponsor.link }}"><img class="sponsor" src="img/sponsors/{{ sponsor.id }}.png" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" /></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<section id="contact" class="bg-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">連絡先</h2>
                <hr class="primary">
                <p>Swift Tweets に関するお問い合わせは下記までお願い致します。</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-twitter fa-3x sr-contact"></i>
                <p><a href="https://twitter.com/{{ tweetup.contact.twitterId }}">@{{ tweetup.contact.twitterId }}</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:{{ tweetup.contact.email }}">{{ tweetup.contact.email }}</a></p>
            </div>
        </div>
    </div>
</section>
